langchain 
langchain-huggingface
langchain-chroma
langchain-core
langchain-community
langchain-ollama
torch
datasets
transformers
peft
trl
autogen==0.8.0
pypdf
pydantic==2.10.6
pydantic-core==2.27.2
pypdf2
faiss-cpu
faiss-gpu-cu12
bitsandbytes
ag2[ollama]
pyautogen==0.8.0
